<html lang="en">

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">CientiEventos</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Home</div>
                        <a class="nav-link" href="http://localhost:4200/index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Pagina de Inicio
                        </a>
                        <div class="sb-sidenav-menu-heading">Eventos</div>
                        <a class="nav-link collapsed" href="http://localhost:4200/get" data-bs-toggle="collapse"
                            data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Ver Eventos Creados
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <a class="nav-link collapsed" href="http://localhost:4200/crear" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Crear Evento
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <a class="nav-link collapsed" href="http://localhost:4200/edit" data-bs-toggle="collapse"
                            data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Actualizar Informacion Evento
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <a class="nav-link collapsed" href="http://localhost:4200/delete" data-bs-toggle="collapse"
                            data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Eliminar Evento
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <img src="https://i.pinimg.com/originals/e9/6c/0b/e96c0b66be57cf8147fe754845f8c4d9.gif">

                    </div>
                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Bienvenido a CientiEventos</h1>
                    <div align="center"><img width="475"
                            src="https://steamcenterbadajoz.es/wp-content/uploads/2022/01/ciencia-y-tecnologia.gif">
                        <br><br>
                    </div>
                    <div class="card mb-4" style="background-color: #ffffff;">
                        <div class="tablita">
                            <br>
                            <h2>&nbsp;&nbsp;Descripcion de Clasificaciones</h2>
                            <p style="font-size: large;">&nbsp;&nbsp;&nbsp;&nbsp;A continuacion, se dara una breve
                                descripcion de los tipos de eventos que se pueden hallar en los registros de nuestro
                                sitio web.</p>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body">
                                            <h2>Fisica</h2>
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <br>
                                            Acá encontraran variados eventos de mecánica clásica,
                                            electromagnetismo, termodinámica, acústica, mecánica<br> cuántica
                                            cinemática, leyes de Newton, entre otros.<br><br>
                                            Se podrá hacer el registro de cualquier evento de este tipo ya sean
                                            estudios, conferencias, demostraciones, eventos educativos<br> o actividades
                                            en los que puedan interactuar las familias.
                                            <img width="25%"
                                                src="https://educacion30.b-cdn.net/wp-content/uploads/2021/09/3659672-min-978x652.jpg.webp">
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-warning text-white mb-4">
                                        <div class="card-body">Astrología </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            En esta página encontraran diversos eventos astronómicos, ya sean
                                            espaciales, velocidades, cantidades espaciales, entre otros.<br><br>
                                            Se podrá hacer el registro de cualquier evento de este tipo ya sean
                                            estudios, conferencias, demostraciones, eventos educativos <br>o actividades
                                            en
                                            los que puedan interactuar las familias.
                                            <img width="25%"
                                                src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2016/09/astrolog%C3%ADa.jpg?w=1000&quality=60&strip=all&ssl=1">
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-success text-white mb-4">
                                        <div class="card-body">Anatomía</div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">

                                            Acá encontraran diversos eventos sobre el cuerpo humano como la
                                            división del cuerpo, cavidades corporales, huesos, articulaciones,<br> entre
                                            otras.<br><br>
                                            Se podrá hacer el registro de cualquier evento de este tipo ya sean
                                            estudios, conferencias, demostraciones, eventos educativos o <br>actividades
                                            en
                                            los que puedan interactuar las familias.
                                            <img width="25%"
                                                src="https://educacion30.b-cdn.net/wp-content/uploads/2021/11/29439-min.jpg.webp">
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </main>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

</html>