<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Crear</title>

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">CientiEventos</a>
        <!-- Sidebar Toggle-->
        <!-- Navbar Search-->

        <!-- Navbar-->

    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" >
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" >
                <div class="sb-sidenav-menu" >
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="http://localhost:4200/index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Pagina de Inicio
                        </a>
                        <div class="sb-sidenav-menu-heading">Eventos</div>
                        <a class="nav-link collapsed" href="http://localhost:4200/get" data-bs-toggle="collapse"
                            data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Ver Eventos Creados
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <a class="nav-link collapsed" href="http://localhost:4200/crear" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Crear Evento
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <a class="nav-link collapsed" href="http://localhost:4200/edit" data-bs-toggle="collapse"
                            data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Actualizar Informacion Evento
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <a class="nav-link collapsed" href="http://localhost:4200/delete" data-bs-toggle="collapse"
                            data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Eliminar Evento
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <img src="https://i.pinimg.com/originals/e9/6c/0b/e96c0b66be57cf8147fe754845f8c4d9.gif">
                        
                    </div>
                </div>
                
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>

                <div class="container-fluid px-4">
                    <h1 class="mt-4">&nbsp;&nbsp;Eventos Registrados</h1>


                    <div class="card mb-4" style="background-color: #ffffff;">
                        <div class="card-header">
                            <br>
                            <font size="4">
                                En el siguiente apartado se podrá registrar su evento ya sean conferencia,
                                demostraciones,
                                actividades educativas, familiares, entre otras en el cual se ingresarán los siguientes
                                datos:
                            </font>
                            <br><br>
                        </div>
                        <table>
                            <br>
                            <tr>
                                <td>
                                    <h1>&nbsp;&nbsp;Titulo</h1>
                                    <br>
                                    <font size="4">
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ingrese el titulo de su
                                            evento</p>
                                    </font>
                                </td>
                                <td align="center">
                                    <img width="275"
                                        src="https://images-ext-2.discordapp.net/external/1urtJgq6I2c7O8vmTjT9727AtH7nzusNfy9DG6Hp8qA/https/previews.123rf.com/images/photostriker/photostriker1708/photostriker170800024/83885145-informaci%25C3%25B3n-de-registro-cient%25C3%25ADfico-en-la-lista-de-verificaci%25C3%25B3n-para-informe.jpg?width=1007&height=671">
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <h1>&nbsp;&nbsp;Descripcion</h1>
                                    <br><br>
                                    <font size="4">
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En este apartado se hará la
                                            descripción del evento incluyendo la fecha,
                                            lugar,
                                            como será el &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;evento, que
                                            actividades se desarrollaran, entre otras…</p>
                                    </font>
                                </td>
                                <td align="center">
                                    <img width="275"
                                        src="https://www.bbva.com/wp-content/uploads/2019/04/cienciabbva_optimized-1024x768.jpg">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h1>&nbsp;&nbsp;Referencias</h1>
                                    <br><br>
                                    <font size="4">
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En
                                            este apartado se incluirán las referencias, los artículos que se tengan como
                                            base del
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;evento,
                                            si este posee alguna.</p>
                                    </font>
                                </td>
                                <td align="center">
                                    <img width="275"
                                        src="https://i0.wp.com/www.julianmarquina.es/wp-content/uploads/Buscador-de-documentos-a-traves-de-Internet.jpg?resize=800%2C608&ssl=1">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h1>&nbsp;&nbsp;Conclusiones</h1>
                                    <br><br>
                                    <font size="4">
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conclusiones de como esperan
                                            que sea el evento ya sea académico, conferencia
                                            o &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;demostraciones.</p>
                                    </font>
                                </td>
                                <td align="center">
                                    <img width="275"
                                        src="https://estaticos.muyinteresante.es/media/cache/500x375_thumb/uploads/images/dossier/5d36bfd05bafe859a335c53f/calle.jpg">
                                </td>
                            </tr>
                            <br>
                        </table>
                    </div>
                    <div class="card mb-4" style="background-color: #ffffff;">
                        <div align="center">
                            <div class="card-body">



                                <form (ngSubmit)="newEventoEntry()" [formGroup]="eventoForm">
                                    <br><br>
                                    <h2>Agregar Evento</h2>
                                    <br>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Titulo</mat-label>
                                        <input matInput formControlName="Titulo"><br>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Descripcion</mat-label>
                                        <input matInput formControlName="Descripcion">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Referencias</mat-label>
                                        <input matInput formControlName="Referencias">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Conclusiones</mat-label>
                                        <input matInput formControlName="Conclusiones">
                                    </mat-form-field><br>

                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>


                    <br>
                    <br>

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

</html>